@import '~antd/dist/antd.css';

.App {
  text-align: center;
}
body {
  background-color: #f6f6f6;
}

.ant-layout {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-flex: auto;
  flex: auto;
  background: #f6f6f6;
  min-height: 0;
}